h1{
    color:green;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

p{ 
    color:brown;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 20px;
}
/*
#turma3C, #turma3C2{
    color: blueviolet;
    text-align: center;
    
}
*/

.roxo{
    color: purple;
    text-align: left;
}